{{#if this.isAlreadyLikedByCurrentUser}}
  <button
    type='button'
    class='btn btn-link card-link'
    {{on 'click' this.onDislike}}
  >
    Dislike ({{@post.likes.length}})
    <Posts::List::Item::Actions::WhoLikesItTooltip @post={{@post}} />
  </button>
{{else}}
  <button
    type='button'
    class='btn btn-link card-link'
    {{on 'click' this.onLike}}
  >
    Like ({{@post.likes.length}})
    <Posts::List::Item::Actions::WhoLikesItTooltip @post={{@post}} />
  </button>
{{/if}}

{{#if this.isCreatedByCurrentUser}}
  <button
    type='button'
    class='btn btn-link card-link'
    {{on 'click' this.onDelete}}
  >Delete</button>
{{/if}}