<div class='card'>
  <div class='card-body'>
    <h5 class='card-title'><LinkTo
        @route='home.post.show'
        @model={{@post}}
      >{{@post.title}}</LinkTo></h5>
    <h6 class='card-subtitle mb-2 text-muted'>Owner:
      {{@post.owner.username}}</h6>
    <p class='card-text'>{{@post.body}}</p>
    {{#if this.isAlreadyLikedByCurrentUser}}
      <a href='#' class='card-link' {{on 'click' this.onDislike}}>
        Dislike ({{@post.likes.length}})
        {{#if @post.likes.length}}
          <EmberTooltip @side='bottom'>
            {{#each @post.likes as |like|}}
              {{like.user.username}}
            {{/each}}
          </EmberTooltip>
        {{/if}}
      </a>

    {{else}}

      <a href='#' class='card-link' {{on 'click' this.onLike}}>
        Like ({{@post.likes.length}})
        {{#if @post.likes.length}}
          <EmberTooltip @side='bottom'>
            {{#each @post.likes as |like|}}
              {{like.user.username}}
            {{/each}}
          </EmberTooltip>
        {{/if}}
      </a>
    {{/if}}
    <a href='#' class='card-link'>Delete</a>
  </div>
</div>