<div class='card'>
  <div class='card-body'>
    <h6 class='card-subtitle mb-2 text-muted pedal'>Create date:
      {{moment-format @post.createdAt 'MM-DD-YYYY HH:mm'}}</h6>
    <h2 class='card-title'><LinkTo
        @route='home.post.show'
        @model={{@post}}
      >{{@post.title}}</LinkTo></h2>
    <h6 class='card-subtitle mb-2 text-muted pedal'>Owner:
      {{@post.owner.username}}</h6>
    <p class='card-text'>{{@post.body}}</p>
    <Posts::List::Item::Actions @post={{@post}} />
  </div>
</div>