<button
  type='button'
  class='btn btn-success'
  {{on 'click' this.onShowModal}}
>Create post</button>

{{#if this.isShowCreateModal}}
  <Post::Create::Modal
    @title={{this.title}}
    @content={{this.content}}
    @hasEmptyFields={{this.hasEmptyFields}}
    @onTitleChange={{this.onTitleChange}}
    @onContentChange={{this.onContentChange}}
    @onClose={{this.onHideModal}}
    @onSave={{this.onSave}}
  />
{{/if}}